<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты юнит-тестирования</title>
    <style>
        /********** acm.timus.ru monitor **********/
        TABLE.monitor {border-collapse:collapse;}
        TABLE.monitor TR TD, TABLE.monitor TR TH {border:solid 1px #BBB; padding:2px 4px; text-align:center; font-family:Arial,Helvetica,sans-serif;}
        TABLE.monitor TR TD {font-size:0.88em;}
        TABLE.monitor TR TH {font-size:0.81em; line-height:2em;}
        TABLE.monitor TR TD.author {text-align:left;}
        TABLE.monitor TR TD I {font-size:0.71em; font-style:normal;}
        TABLE.monitor TR TD.acc, TABLE.monitor TR TD.acb, TABLE.monitor TR TD.rej, TABLE.monitor TR TD.reb, TABLE.monitor TR TD.snt {font-family:Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;}
        TABLE.monitor TR TD.acc {color:#070;  }
        TABLE.monitor TR TD.acb {color:#070; background-color: #8CFC8C !important; font-weight:bold;}
        TABLE.monitor TR TD.rej {color:#B00; background-color: #FC8C8C !important;}
        TABLE.monitor TR TD.reb {color:#B00; background-color: #FC1C1C !important; font-weight:bold;}
        TABLE.monitor TR TD.snt {color:#F60;}
        TABLE.monitor TR.stat_row TD {border:0; font-size:0.81em; font-style:italic;}
        TABLE.monitor TR.stat_row TD.stat_caption {text-align:right;}
        TABLE.monitor TR.oddrow TD {background-color:#f0f0f8;}
        TABLE.monitor TR.evenrow TD {background-color:#e4e4f8;}
    </style>
</head>
<body>
<table class="monitor">
    <tr>
        <th>Кто?</th>
        <th>#</th>
        {% for impl in implementations %}
        <th>{{ impl['WordStatistics_'|length:] }}</th>
        {% endfor %}
    </tr>
    {% for killed_count, name, tests in results %}
    <tr class="{{loop.cycle('oddrow','evenrow')}}">
        <td>{{ name }}</td>
        <td>{{killed_count}}</td>
        {% for impl in implementations %}
        {% set good = tests[impl][0] %}
        {% set cnt = tests[impl][1] | length %}

        <td class="{{ 'acb' if good else 'rej' }}">{{ tests[impl][1] | length}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>